@import "./src/style/common";

.soundSettingsModal{

}

.soundSettingsModalWindow{

}

.row{
  margin-bottom: 16px;
}

.rowOne{
  @extend .row;
}

.rowTwo{
  @extend .row;
}

.rowThree{
  @extend .row;
  display: flex;
  align-self: center;
}

.rowFour{
  @extend .row;
}

.font{
  @extend %font;
  color: $textPrimary;
  font-size: 18px;
}

.durationText{
  @extend .font;
}
