@import "./src/style/common";

.button{
  background-color: $accentBlue;
  display: flex;
  padding: 14px 28px;
  border-radius: 30px;
  border-width: 1px;
  border-color: rgba(58, 111, 216, 0.5);
  align-items: center;
  justify-content: center;
}

.buttonStyle2{
  @extend .button;
  background-color: $accentCyan;
  border-color: rgba(41, 182, 216, 0.5);
}

.buttonText{
  @extend %font;
  font-size: 18px;
  color: $textPrimary;
  font-weight: 600;
}
