@import "../common";

.iconButton{
  background-color: $iconButtonBackgroundColor;
  padding: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border-width: 1px;
  border-color: $iconButtonBorderColor;
}

.icon{
  color: $iconButtonColor;
}
