@import "./modal-selector";
@import "../common";

.trackModalSelector{
  @extend .modalSelector;
}

.trackModalSelectorText{
  @extend .modalSelectorText;
}

// background of modal
.trackModal{
  @extend .modal;
}

.modalWindow{
  background-color: $modalWindowBackgroundColor;
}

.trackOptionRowWrapper{
  @extend .optionRowWrapper;
  border-bottom-width: 1px;
  border-bottom-color: $glassBorder;
}

.trackDefaultOptionRow{
  padding-top: 6px;
  padding-bottom: 10px;
}

.trackLabelText{
  @extend .defaultOptionRowText;
  color: $accentCyan;
  font-size: 17px;
}

.trackDescriptionText{
  @extend .defaultOptionRowText;
  font-size: 13px;
  color: $textSecondary;
}
