@import "../../common-components/page";
@import "./src/style/common";

.meditationSessionsPage{
  @extend .page;
}

.listContent{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 16px;
}
